@CHARSET "UTF-8";
#sqlite-admin-wrap h2,
#sqlite-admin-side-wrap h2 {
	background: rgb(34, 34, 34);
  color: rgb(256, 256, 256);
  padding-left: 5px;
}
.navigation {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 20px;
/*   border: 1px solid #000; */
}
.navi-menu {
  margin-left: 0;
}
.menu-item {
  font-size: 20px;
  display: inline;
  min-width: 150px;
  height: 50px;
  margin-left: 0;
  margin-right: 10px;
  padding: 5px;
  border: .5px solit #000;
  background: rgb(51, 51, 51);
  color: (256, 256, 256);
}
.menu-selected {
  font-size: 20px;
  display: inline;
  min-width: 150px;
  height: 50px;
  margin-left: 0;
  margin-right: 10px;
  padding: 5px;
  border: .5px solit #000;
  background: rgb(0, 116, 162);
  color: rgb(256, 256, 256);
}
.menu-item a {
  text-decoration: none;
  color: rgb(256, 256, 256);
}
#sqlite-admin-wrap {
  color: #1d1d1d;
  font-size: 10pt;
  border: 1px solid #ddd;
  background: rgb(256, 256, 256);
/*   border-top: 0; */
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  display: block;
  float: left;
  min-height: 100px;
  position: relative;
  width: 47%;
  margin-top: 10px;
  padding: 5px;
  box-shadow: 5px 5px 5px #eee;
  z-index: 1;
}
#sqlite-admin-side-wrap {
  color: #1d1d1d;
  font-size: 10pt;
  border: 1px solid #ddd;
  background: rgb(256, 256, 256);
/*   border-top: 0; */
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  display: block;
  float: left;
  min-height: 100px;
  position: relative;
  width: 47%;
  margin-top: 10px;
  padding: 5px;
  box-shadow: 5px 5px 5px #eee;
  z-index: 1;
}
p {
  text-indent: 15px;
  line-height: 150%;
  margin-left: 10px;
  margin-right: 10px;
}
ul.in-body-list {
  margin-left: 20px;
}
ol {
  margin-left: 40px;
}
pre.code {
  margin-left: 10px;
  background: #eee;
}
.alt {
  background: rgb(247, 254, 236);
}
.em {
  font-weight: bold;
  text-transform: capitalize;
}
