@CHARSET "UTF-8";
#sqlite-admin-wrap h2,
#sqlite-admin-side-wrap h2 {
  background: rgb(34, 34, 34);
  color: rgb(256, 256, 256);
	padding-left: 5px;
}
h3 {
  clear: both;
}
.navigation {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 20px;
/*   border: 1px solid #000; */
}
.navi-menu {
	margin-left: 0;
}
.menu-item {
	font-size: 20px;
	display: inline;
  min-width: 150px;
  height: 50px;
  margin-left: 0;
  margin-right: 10px;
  padding: 5px;
  border: .5px solit #000;
  background: rgb(51, 51, 51);
  color: (256, 256, 256);
}
.menu-selected {
  font-size: 20px;
  display: inline;
  min-width: 150px;
  height: 50px;
  margin-left: 0;
  margin-right: 10px;
  padding: 5px;
  border: .5px solit #000;
  background: rgb(0, 116, 162);
  color: rgb(256, 256, 256);
}
.menu-item a {
  text-decoration: none;
  color: rgb(256, 256, 256);
}
#sqlite-admin-wrap {
	color: #1d1d1d;
  font-size: 10pt;
  border: 1px solid #ddd;
  background: rgb(256, 256, 256);
/*   border-top: 0; */
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  display: block;
  float: left;
  min-height: 100%;
  position: relative;
  width: 58%;
  margin-top: 10px;
  padding: 5px;
  box-shadow: 5px 5px 5px #eee;
  z-index: 1;
}
#sqlite-admin-side-wrap {
  color: #1d1d1d;
  font-size: 10pt;
  border: 1px solid #ddd;
  background: rgb(256, 256, 256);
/*   border-top: 0; */
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  display: block;
  float: left;
  min-height: 100%;
  position: relative;
  width: 35%;
  margin-top: 10px;
  padding: 5px 5px 5px 5px;
  box-shadow: 5px 5px 5px #eee;
  z-index: 1;
}
p {
  text-indent: 15px;
  line-height: 150%;
}
table#sys-info{
/*   width: 600px; */
  width: 480px;
}
table#status {
  width: 480px;
}
table#sqlite-table {
/*   width: 700px; */
  width: 100%;
}
th.tbl-name {
  width: 200px;
}
th.tbl_owner {
  width: 105px;
}
th.tbl_index {
  width: 300px;
}
td.system {
  color: rgb(153, 0, 0);
}
td.user {
  color: rgb(0, 0, 255);
}
td.menu-title {
  width: 95px;
}
table.statement {
  width: 500px;
}
ul.in-body-list {
  margin-left: 20px;
}
ol {
  margin-left: 40px;
}
pre.code {
	padding: 5px 5px 5px 5px;
  margin-left: 15px;
  margin-right: 10px;
  background: #eee;
}
tr.incompatible {
	background: rgb(251, 229, 221);
}
tr.workaround {
  background: rgb(217, 232, 237);
}
tr.compatible {
}
th.active-plugins {
  width: 120px;
}
th.compatible {
  width: 80px;
}
input.button-primary {
	display: block;
	clear: both;
  width: 100px;
}
.alt {
  background: rgb(247, 254, 236);
}
table#patch-files .item,
table#backup-files .item {
  width: 40px;
}
.alert {
  color: rgb(256, 0, 0);
}
div.alert {
	display: block;
	width: 95%;
	text-align: center;
	margin: 0 auto;
  color: rgb(256, 0, 0);
  text-transform: capitalize;
}
blockquote.caution {
	display: block;
  width: 95%;
  border: 3px double rgb(0, 0, 0);
  margin: 0 auto;
  padding: 5px;
}
blockquote.caution > p {
  margin: 5px;
  padding: 0;
}